html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/task.css')
    title= "Учимся работать с шаблонизатором Pug"
  body
    .header
        img.header-items.user_logo(src='images/user.svg')
        p.header-items.user_name Петров А. А.
        img.header-items.user_mail(src='images/mail.svg')
        img.header-items.user_description(src='images/description.svg')
        img.header-items.user_home(src='images/home.svg')
        img.header-items.user_logout(src='images/logout.svg')
    
    section.question-1
      .edit_report
  
        .left-side
          .board
            .board-divisions
                .board-item.btn-sm.board-item.ootiz ООТиЗ 
                .board-item.button.btn-sm.okito ОКиТО
                .board-item.button.btn-sm.ki КИ
                .board-item.button.btn-sm.sk СК
                .board-item.button.btn-sm.ms МС
                .board-item.button.btn-sm.osr ОСР
                //Можете поставить айдишник вместо класса в конце, чтобы отличать подразделения
        


        .right_side
          table.report
            caption Отчёт №123821830
            tr
              th №
              th Поручения
              th Ответственный/Срок/Пояснения
            tr
              th 1
              th Поручение 1 
              th Ответственые - заместители генерального директора Исайкин А.Г
                p Срок исполнения - постоянно
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей
            tr
              th 
              th Отчет на 15.11.2021 (дата отчета)
                p Краткий очет по поручению 1 для Директум
              th.droppable.card-title 
                p.droppable-text Развернутык ответы от подразделений по поручениям. Могут быть разные исполнители в разных пунктах
                p.droppable-text От 1 до 10 исполнителей    
  
  
  
  








    script(src='/scripts/task.js')

    