extends layout

block content
  .content
    .logo
      a.button(href='/')
        img(src='../images/logo.png')
    .item.forma
    form(action="/auth/login", method="POST")
      label(for="email") Email
      input(type="email", id="email", name="email", required)
      label(for="password") Password
      input(type="password", id="password", name="password", required)
      button(type="submit") Login
    form(action="/auth/register", method="POST")
      label(for="email") Email
      input(type="email", id="email", name="email", required)
      label(for="password") Password
      input(type="password", id="password", name="password", required)
      button(type="submit") Register
