extends layout

block content
  .main-content
    img.gazpromlogo(src="img/gazpromlogo.png")
    form
      .form-group
        table.tableDownloadProtocol
          tr.trDownloadProtocol
            td.tdDownloadProtocol Выберите файл
            td.tdDownloadProtocol
              input.mainInput(type='file', name='sampleFile', accept=".pdf" required)
          tr.trDownloadProtocol
            td.tdDownloadProtocol Дата протокола
            td.tdDownloadProtocol
              input.mainInput(type='date', name='DateOfUpload', required)
          tr.trDownloadProtocol
            td.tdDownloadProtocol Номер протокола
            td.tdDownloadProtocol
              input.mainInput(type="text", placeholder="Введите номер протокола", required)
          tr.trDownloadProtocol
            td(colspan="2").loading_col.tdDownloadProtocol
              input.mainInput.loading(type='submit', value='Загрузить')
