extends layout

block content
  .main-content
    img.gazpromlogo(src="img/gazpromlogo.png")
    form
      .form-group
        input(type="file", accept=".pdf", class="btn")
        input(type="submit", value="Загрузить", class="btn loading")