extends layout

block content
  script(async, src='scripts/scriptEditOneErrandToolbar.js')
  .header
    a.back-button(href="/errand")
        span &#129044;
    .statusErrand Активно
    //- Добавить класс this-errand-has-been-completed, если поручение выполнено
    .execution-date-Errand Срок исполнения – 27.04.2023
  .contentErrand
    p
      | Провести обучение управленческого персонала ООО «Газпром трансгаз Томск» по 
      | программам развития цифровой грамотности.
      | Провести обучение управленческого персонала ООО «Газпром трансгаз Томск» по 
      | программам развития цифровой грамотности.
      | Провести обучение управленческого персонала ООО «Газпром трансгаз Томск» по 
      | программам развития цифровой грамотности.
  .responsibleErrand
    span.labelResponsible Ответственный:
    span.responsiblePerson Иванов И.И.
    span.acceptedErrand Принял
  span.text-at-the-top-of-reports Вы редактируете: Краткий отчёт по поручению
  .short-report
    .short-report-divisions
      p Дата последнего редактирования: 23.03.2023, 10:24
      textarea(rows="15", id="editorTextarea")
      .sending-for-revision
        input(type="submit", class="edit-errand-report", value="Сохранить")
        input(type="submit", class="edit-errand-report", value="Отменить")
