extends layout

block content
  script(async, src='scripts/scriptErrand.js')
  .search-container
      img(src='images/ErradnsImg/search.svg', alt='Поиск')
      input#search-input(type='text', placeholder='Поиск')
  .modes
    .buttons
      button.all-btn Все поручения
      button.active-btn Активные
      button.archive-btn Архив
    .filter
      span Фильтры по поручениям
      img(src='images/ErradnsImg/setting.svg', alt='Настройки', id='settings-button')
  .ActiveErrands
    .links-header
      span Активные
      hr.header-separator
    .links-grid
      each Errand in errands
        a.event-link(href=`/errand/${Errand.id}`)
          span.event-title= Errand.text_errand
          .event-dates-container
            span.event-start-date Получено: #{Errand.actual_date}
            span.event-end-date
              if Errand.constantly
                | Постоянное выполнение
              else
                | Срок сдачи: #{Errand.scheduled_due_date}
  .ArchiveErrands
    .links-header
      span Архив
      hr.header-separator
    .links-grid
      // Здесь можно добавить архивные поручения