extends layout

block content
  .content
    .logo
      a.button(href='/')
        img(src='../images/logo.png')
    .item.forma
      form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
        input(type='file', name='sampleFile', accept=".pdf")
        input(type='submit', value='Загрузить')