extends layout
block content  
  .personName
    img.image-person(src="../images/SidebarImg/person.png", alt="Картинка")
    p Оладжувон-Нгози И.И.
  table.table-person
    thead
      tr
        td Основное
        td
    tbody
      tr
        td Дата рождения
        td 01.01.2002
      tr
        td Телефон
        td +798007753535
      tr
        td Электронная почта
        td Ngozi@gmail.com
      tr
        td Уровень доступа
        td Секретарь
      tr
        td Должность
        td Секретарь
      tr
        td Город
        td Томск
