extends layout

block content
  script(async='' src='/scripts/scriptReportProtocol.js')
  .contentReportProtocol
    .search-container
      img(src='images/ErradnsImg/search.svg' alt='Поиск')
      input(type='text' placeholder='Поиск')
    .table-container
      table.table-ReportProtocol
        thead
          tr
            th.col-var-1
            th.col-var-2 Текст поручения
            th.col-var-2 Ответственные
            th.col-var-2 Получено
            th.col-var-2 Срок сдачи
            th.col-var-1
        tbody
          tr
            td.col-var-1
              input.checkbox-order-selection(type='checkbox')
            td.col-var-2 Провести обучение управленческого персонала ООО «Газпром трансгаз Томск» по прогаммам развития цифровой грамотности.
            td.col-var-2 Фамилия имя отчество
            td.col-var-2 27.02.2022
            td.col-var-2 27.02.2022
            td.col-var-1
              button.expand-button ᐯ
            // ⌄      ᐯ
          tr
            td.col-var-1
              input.checkbox-order-selection(type='checkbox')
            td.col-var-2 Длинный текст, который не поместиться
            td.col-var-2 Фамилия имя отчество
            td.col-var-2 27.02.2022
            td.col-var-2 Постоянно
            td.col-var-1
              button.expand-button ᐯ
            // ⌃      ᐱ
      input.formProtocol(type='submit' value='Сформировать протокол')
    .links-header
      span Архив отчетов
      hr.header-separator
    .links-grid-ReportProtocol
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 15
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 16
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 17
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 18
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 19
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 20
      a.event-link-ReportProtocol(href='#')
        span.event-title-ReportProtocol Отчёт от
        span.date-ReportProtocol 27.02.2022
        span.number-ReportProtocol № 21