- var idCounter = 1

extends layout

block content
  script(async='', src='/scripts/scriptReportProtocol.js')
  script(async='', src="https://code.jquery.com/jquery-3.6.0.min.js")
  .content
    .logo
      a.button(href='/')
        img.mainImg(src='../images/logo.png')
    .item
      h1 Документ успешно загружен!
    .item
      form
        h3.greatdoc Все исполнители успешно найдены. Проверьте правильность работы алгоритма и нажмите кнопку “Отправить”.
        //- При неудачной загрузке добавить notgreatdoc и текст: При создании протокола произошла ошибка. Некоторый(е) из ответственные не были найдены.
    .item
      form
        h3 Результат работы алгоритма:
    .table-container
      table.table-ReportProtocol
        thead
          tr
            th.col-var-1
            th.col-var-2 Текст поручения
            th.col-var-2 Ответственные
            th.col-var-2 Срок сдачи
            th.col-var-2
            th.col-var-1
        tbody
          each element in result
            tr
              //- if element.successfullyLoaded
              td.col-var-1.greatdoc ✔
              //- else
              //-   td.col-var-1.notgreatdoc !
              td.col-var-2 #{element.errandText}
              td.col-var-2
                span(class="editable-text" id=`task-text-${idCounter++}`)
                  #{element.asgnName}
              td.col-var-2 #{element.deadline}
              td.col-var-2
                input.edit-errand-report-change(type="button", value="Изменить")
              td.col-var-1
                button.expand-button ᐯ
    input.formProtocol(type='submit' value='Отправить')