extends layout

block content
  script(async='', src='/scripts/scriptEditResponsibleErrand.js')
  script(async='', src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(async='', src='/scripts/scriptConfrim.js')
  .content
    .logo
      a.button(href='/')
        img.mainImg(src='../images/logo.png')
    .item
      h1 Документ успешно загружен!
    .item
      form
        h3.greatdoc Все исполнители успешно найдены. Проверьте правильность работы алгоритма и нажмите кнопку “Отправить”.
        //- При неудачной загрузке добавить notgreatdoc и текст: При создании протокола произошла ошибка. Некоторый(е) из ответственные не были найдены.
    .item
      form
        h3 Результат работы алгоритма:
    .table-container
      table.table-ReportProtocol
        thead
          tr
            th.col-var-1
            th.col-var-3 Текст поручения
            th.col-var-3 Ответственные
            th.col-var-3 Срок сдачи
            th.col-var-3
        tbody
          each element in result
            tr
              td.col-var-1.greatdoc
              td#errandText.col-var-3 #{element.errandText}
              td#assignees.col-var-3
                span.editable-text
                  each assignee in element.asgnName
                    | #{assignee}
                    if assignee != element.asgnName[element.asgnName.length - 1]
                      | , 
              td#deadline.col-var-3 #{element.deadline}
              td.col-var-3
                input.edit-errand-report-change(type="button", value="Изменить")

    button.formProtocol(onclick='confirmData()') Отправить

