extends layout

block content
  .logo
    img.mainImg(src='../images/logo.png')
  .welcome-container
      p.welcome-text Здравствуй представитель ООО Газпром трансгаз Томск.
      p.welcome-text Олег Владимирович, Вас приветствует система автоматизированного документооборота.
      p.welcome-text Приятного пользования.
      img.welcome-picture(src="../images/welcome.jpg", alt="Welcome Image")