extends layout

block content
  .logo
    img.mainImg(src='../images/logo.png')
  .welcome-container
      p.welcome-text Здравствуйте, Иван Иванович.
      p.welcome-text Вас приветствует система автоматизированного документооборота.
      img.welcome-picture(src="../images/welcome.jpg", alt="Welcome Image")