extends layout

block content
  .content
    .item.logo
      img.mainImg(src='images/logo.png', alt='Логотип')
    .item
      h1 Здравствуйте, [имя]!
      p
        | Добро пожаловать на нашу веб-страницу. Мы рады видеть вас!