.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin: 40px 50px 20px 50px;
}

.search-container img {
    height: 24px;
    margin-right: 10px;
    opacity: 0.5;
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table-container {
    margin: 0 50px;
}

.table-ReportProtocol {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    transition: all 1s ease-in-out;
}

.table-ReportProtocol th {
    background-color: rgba(0, 121, 194, 1);
    color: white;
}

.table-ReportProtocol th,
.table-ReportProtocol td {
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

.table-ReportProtocol tr.expanded .col-var-2 {
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
    transition: all 1s ease-in-out;

}

.table-ReportProtocol button {
    padding: 5px 10px;
}

.table-ReportProtocol .col-var-1 {
    width: 8.33%;
    transition: all 0.15s ease-in-out;
}

.table-ReportProtocol .col-var-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 16.66%;
    transition: all 0.15s ease-in-out;
}

.table-ReportProtocol th, .table-ReportProtocol td{
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    transition: all 1s ease-in-out;
}

input[type="checkbox"] {
    transform: scale(1.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    position: relative;
    background-color: white;
}

input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px;
    height: 9px;
    border: solid rgba(0, 121, 194, 1);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

input[type="checkbox"]:checked:before {
    opacity: 1;
}

.formProtocol {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-right: 5px;
    border: none;
    background: rgba(0, 121, 194, 1);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.formProtocol:hover {
    background: #0d45a5;
}

.links-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-right: 50px;
    font-size: 24px;
}

.links-header span {
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-separator {
    border: none;
    border-top: 1px solid #000000;
    flex-grow: 1;
    margin-left: 20px;
}

.links-grid-ReportProtocol {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0px 0px 50px;
}

.event-link-ReportProtocol {
    display: block;
    width: 222px;
    background-color: rgba(0, 121, 194, 1);
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
}

.event-link-ReportProtocol span {
    font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
}

.links-grid-ReportProtocol a {
    display: block;
    border-radius: 20px;
    margin: 0 20px 20px 0;
}

.event-title-ReportProtocol,
.date-ReportProtocol,
.number-ReportProtocol {
    display: block;
    padding: 8px;
}

@media (max-width: 590px) {

    .links-grid-ReportProtocol {
        justify-content: center;
        margin: 20px 50px;
    }
}

.expand-button {
    justify-content: center;
    text-align: center;
    transform: scale(1.0);
    font-weight: 900;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    transition: all 0.15s ease-in-out;
}

.ArchiveProtocols .links-grid-ReportProtocol a {
    background-color: rgba(47, 47, 47, 1);
}

.expand_all {
    justify-content: center;
    text-align: center;
    transform: scale(1.0);
    font-weight: 900;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    color: white;
    transition: all 0.15s ease-in-out;
}

.select_all {
    justify-content: center;
    text-align: center;
    transform: scale(1.0);
    font-weight: 900;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    color: white;
    transition: all 0.15s ease-in-out;
}