.feedback-form {
    margin: 60px auto;
    width: 500px;
    background-color: #F0F0F0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

@media only screen and (max-width: 590px) {
    .feedback-form{
        width: 350px;
    }
}

.feedback-form h2 {
    text-align: center;
    font-weight: 100;
    font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form label {
    margin-top: 20px;
    font-weight: 100;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.feedback-form input,
.feedback-form textarea {
    padding: 10px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
}

.feedback-form button {
    margin-top: 25px;
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    border: none;
    background: rgba(0, 121, 194, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 100;
    transition: background .2s ease-in-out;
}

.feedback-form button:hover {
    background: #0d45a5;
}

.feedback-form textarea {
    height: 200px;
    width: 100%;
    overflow-y: auto;
    resize: none;
}