* {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mainContainer {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 280px;
    max-width: 300px;
    background-color: rgba(0, 121, 194, 1);
    transition: width 0.3s;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        width: 70px;
    }

    .menu li a .menu-text,
    .menu-person li a .person-name {
        display: none;
    }

    .menu li .menu-text {
        font-size: 0;
    }

    .btn-bell {
        display: none;
    }
}

.menu-person {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 50px;
}

.menu-person li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin-left: 5px;
}

.menu-person li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.menu-person li a .menu-text {
    margin-left: 10px;
    font-size: 1.3rem;
}

.person-name {
    margin-left: 10px;
    font-size: 1.3rem;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltipPerson {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    z-index: 100;
}

.block:hover .tooltipPerson {
    display: block;
}

.btn-img {
    border-radius: 100px;
}

.btn-bell {
    padding: 0px;
    margin-left: auto;
    margin-right: 5px;
}

.bell-container {
    margin-left: 12px;
    z-index: 500;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.menu li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.menu li a .menu-text {
    margin-left: 10px;
    font-size: 1.3rem;
}

.menu li.feedback {
    margin-top: 100px;
}

.menu .active {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px 0px 00px 20px;
}

.menu .active a {
    color: rgba(0, 121, 194, 1);
}

.menu .active .btn-download {
    content: url('../images/SidebarImg/downloadActive.svg');
}

.menu .active .btn-errand {
    content: url('../images/SidebarImg/errandActive.svg');
}

.menu .active .btn-report-protocol {
    content: url('../images/SidebarImg/generalReportActive.svg');
}

.menu .active .btn-exit {
    content: url('../images/SidebarImg/exitActive.svg');
}

.menu .active .btn-feedback {
    content: url('../images/SidebarImg/feedbackActive.svg');
}

.btn-bell {
    cursor: pointer;
    position: relative;
}

.context-menu {
    display: none;
    position: absolute;
    width: 400px;
    /* min-height: 90px; */
    max-height: 500px;
    background-color: #ffffff;
    /* Фиолетовый цвет фона */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Задаю скругление углов */
    overflow: hidden;
    top: 50px;
    left: 247px;
    z-index: 999;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scrollable-menu {
    overflow-y: auto;
    max-height: 500px;
}

.menu-item:last-child {
    border-bottom: none;
}

.context-menu-item {
    width: 360px;
    height: 90px;
    line-height: 30px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #D1D0FB;
    color: #000000;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* Ограничиваем видимость контента, который выходит за границы div */
}

.context-menu-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    /* border: 1px solid black; */
    table-layout: fixed;
}

.context-menu-item td {
    /* border: 1px solid black; */
}

.first-column-context-menu {
    width: 90%;
    padding: 0;
    margin: 0;
}

.second-column-context-menu {
    width: 10%;
    padding: 0;
    margin: 0;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.4em;
    line-height: 1.2em;
    text-align: justify;
    width: 100%;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: black;
}

.first-column-date {
    color: #7A798E;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.red-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #D1D0FB;
}

.red-circle-active {
    background-color: red;
}

.arroww-td {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.arroww {
    text-align: center;
    margin-left: 10px;
    color: #403DED;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.no-notifications span {
    color: #000000;
    font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.no-notifications {
    text-align: center;
    margin: 20px;
}
